@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;1,400&display=swap');
body {
  background-color: rgb(255, 255, 255);
  /* background-image: url("../img/background-image.jpg"), linear-gradient(-90deg, red, yellow); */
  /* color: rgb(119,136,153); */
  color: rgb(6, 28, 50);
  width: 100vw;
  overflow: hidden;
  height: 100%; 
  max-height: 100%; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 22px;
}

.footer{
  top: auto;
  bottom: 0;
  margin: 4em 0 0 0;
  height: 200px; /* Height of bottom frame div */
  overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
}

.navbar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 3em;
  padding: 0;
}

.nav-link {
  padding: 0 0.5em 0 0.5em;
  font-size: 40px;
  border-right: solid;
}

.nav-link:last-child{
  border: 0;
}

.nav-link-content {
  display: block;
  color: rgba(190, 52, 107);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgb(169,169,169);
  text-decoration: none;
  cursor: pointer;
}

a.honeyco-link:hover {
  color: rgba(190, 52, 107);
  text-decoration: none;
  cursor: pointer;
}

a.munkey-react-link:hover {
  color: rgba(213, 147, 88);
  text-decoration: none;
  cursor: pointer;
}

.ancestor-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  position: fixed; 
  top: 1px;
  margin-left:auto;
  margin-right: auto;
  bottom: 1px;
  overflow: auto; 
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;
}

.headline {
  text-align: center;
}

.content-column {
  display: block;
  flex-direction: column;
  text-align: center;
}

.munkey-logo {
  width: 75%;
  height: auto;
  margin-bottom: 2em;
}

.css-style {
  color: rgba(190, 52, 107);
  font-size: 24px;
  margin-top: 1em;
}

.tech-row {
  display: flex;
}

hr {
  width: 90%;
  border: 0.2px solid black;
}

p {
  font-size: 14px;
}

.heading-underline {
  width: 50%
}

.accordion-underline {
  width: 2.5%;
  color: rgb(105,105,105)
}

.project-description-wrapper {
  font-family: 'Jost', sans-serif;
  text-align: left;
  color: rgb(48,48,48);
  word-spacing: 1px;
  margin: 0 1em 0 1em;
}

li {
  list-style-type: none;
}

@media (min-width: 1200px) { 

  .ancestor-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: fixed; 
    top: 1px;
    margin-left:auto;
    margin-right: auto;
    bottom: 1px;
    overflow: auto; 
  }

  .social-media-links{
    font-size: 24px;
  }

  .favorite-tech {
    color: 'rgb(40, 38, 38)';
    font-size: 22px;
  }

  .accordion-hovered-style {
    color: rgb(169,169,169);
    font-size: '28px';
    cursor: 'pointer'; 
  }

  .accordion-not-hovered-style {
    color:rgb(6, 28, 50);
    font-size: '18px';
  }

  .project-description-wrapper p{
    font-size: 16px;
  }

  .footer{
    height: 150px; /* Height of bottom frame div */
  }

}