@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
  background-color: rgb(247, 245, 245);
  color: rgb(119,136,153);
  height: 100vh;
  width: 100vw;
  margin:0px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 22px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgb(169,169,169);
  text-decoration: none;
  cursor: pointer;
}

a.honeyco-link:hover {
  color: rgba(190, 52, 107);
  text-decoration: none;
  cursor: pointer;
}

a.munkey-react-link:hover {
  color: rgba(213, 147, 88);
  text-decoration: none;
  cursor: pointer;
}

.ancestor-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;
}

.headline {
  text-align: center;
}

.content-column {
  display: block;
  flex-direction: column;
  text-align: center;
}

.munkey-logo {
  width: 75%;
  height: auto;
}

.css-style {
  color: rgba(190, 52, 107);
}

.tech-row {
  display: flex;
}

hr {
  width: 90%;
  border: 0.2px solid black;
}

p {
  font-size: 14px;
}

.heading-underline {
  width: 50%
}

.accordion-underline {
  width: 2.5%;
  color: rgb(105,105,105)
}