@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  margin:0px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 22px;
}

.ancestor-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;
}

.headline {
  text-align: center;
}

.content-column {
  display: block;
  flex-direction: column;
  text-align: center;
}

.munkey-logo {
  width: 75%;
  height: auto;
}

.css-style{
  color: rgba(190, 52, 107);
}